.skills-section{
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:10px 20px;
    overflow:hidden;
}

.skills-title{
    font-size:40px;
    margin-bottom:40px;
    color:#fff;
    padding-bottom: 30px;
}

.skills-single-container{
    width:100%;
    max-width:650px;
    height:500px; /* FIXED HEIGHT */
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.skill-card{
    width:100%;
    height:90%; /* FIXED */
    background:#181e31;
    border-radius:20px;
    padding:25px;
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
    overflow:hidden;
    position:absolute;
}

.skill-group-title{
    font-size:28px;
    margin-bottom:20px;
    color:#fff;
    text-align:center;
}

.timer-bar-bg{
    width:100%;
    height:6px;
    background:#2a2a2a;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:25px;
}

.timer-bar-fill{
    height:100%;
    background:#00ffae;
    border-radius:20px;
}

.skill-item{
    margin-bottom:18px;
}

.skill-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:8px;
}

.skill-left{
    display:flex;
    align-items:center;
    gap:10px;
}

.skill-icon{
    font-size:24px;
}

.skill-name{
    color:#fff;
    font-size:17px;
    font-weight:500;
}

.skill-level-text{
    color:#aaa;
    font-size:14px;
}

.progress-bar-bg{
    width:100%;
    height:10px;
    background:#2a2a2a;
    border-radius:30px;
    overflow:hidden;
}

.progress-bar-fill{
    height:100%;
    border-radius:30px;
}

.skill-percent{
    display:block;
    text-align:right;
    margin-top:5px;
    color:#ccc;
    font-size:13px;
}

/* MOBILE */

@media(max-width:768px){

    .skills-single-container{
        height:560px;
    }

    .skill-card{
        padding:20px;
    }

    .skills-title{
        font-size:32px;
    }
}